<li class="tree-node">
  <div class="tree-folder-row">
    <span class="tree-folder-icon">[+]</span>
    <a class="tree-folder-link" href="{{ url_for('pages.index', folder_id=tree.id) }}">{{ tree.name }}</a>
  </div>

  {% if tree.folders %}
  <ul class="tree-list tree-list-nested">
    {% for child in tree.folders %} {% set tree = child %} {% include 'partials/folder_node.html' %} {% endfor %}
  </ul>
  {% endif %} {% if tree.notes %}
  <ul class="tree-notes">
    {% for note in tree.notes %}
    <li class="tree-note-row">
      <span class="tree-note-icon">-</span>
      <a class="tree-note-link" href="{{ url_for('pages.index', note_id=note.id) }}">{{ note.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</li>
